<div>
    {{question}}
</div>
<div>
    <ul>
        <li id="a">{{answers.a}}</li>
        <li id="b">{{answers.b}}</li>
        <li id="c">{{answers.c}}</li>
        <li id="d">{{answers.d}}</li>
            assign event listeners to list items to refresh partial 
    </ul>
</div>

{{!-- upon click, a new question will be rendered to this page --}}
{{!-- How will this be achieved? --}}
    {{!-- For each question, a GET request will be fetched from /api/deck/:num --}}
    {{!-- :num will represent the id of the question of the deck --}}
    {{!-- res.render('question-details', newQuestion) --}}