<div>
    {{question}}
</div>
<div>
    <ul>
        <li id="a">{{answers.a}}</li>
        <li id="b">{{answers.b}}</li>
        <li id="c">{{answers.c}}</li>
        <li id="d">{{answers.d}}</li>
            assign event listeners to list items to refresh partial 
    </ul>
</div>