<body>
    <!-- Your header, navigation, or other common elements can go here -->

    <!-- Main content area -->
    <div class="main-content">
        <!-- Category Selection Section -->
        <section class="category-selection">
            <h2>Test Your Knowledge!</h2>

<form id="category-form">
    <label for="category-select">Choose a category:</label>
    <select id="category-select" name="category">
        {{#each categories}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <label for="difficulty-select">Choose a difficulty:</label>
    <select id="difficulty-select" name="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <button type="button" id="start-trivia-button">Start Trivia</button>

</form>

        </section>
        

 
    </div>
<button class="hide" type="button" data-highScore="{{high_score}}" id="answer-button">Submit</button>

<script src="/js/triviapage.js"></script>
</body>












































{{!-- <div>
    <label for="categoryDropdown">Select a category:</label>
    <select id="categoryDropdown" onchange="selectCategory(this)">
        <option value="">Select a category</option>
        {{#each categories as |category|}}
            <option value="{{category.id}}">{{category.name}}</option>
        {{/each}}
    </select>
</div> --}}

  